/**** Variables ****/
:root {
  --first-blue-color: #16263f;
  --first-blue-alt-color: #0d1a2f;
  --second-blue-color: #3ac2cb;
  --middle-blue-color: #36415C;
  --dark-blue-color: #040d21;
  --dark-chat-color: #122139;
  --bluelight-color: #a4b4cb;
  --red-color: #f12e67;
  --orange-color: #fe9518;
  --green-color: #34b53a;
  --white-color: #fafafa;
  --shadow-color: rgb(58 194 203 / 30%);
  --border: 1px solid rgb(164 180 203 / 50%);
  --border-alt: 1px solid #546076;
  --transition: 0.4s;
}


/**** Start Global Rules ****/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
}

span {
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

p {
  line-height: 1.8;
}

input,
button {
  border: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

input:focus,
select:focus {
  outline: none;
}
